mixin articles(articlesTitle, articlesMods)
  section.articles(class=articlesMods)
    .container
      h2.articles__title #{articlesTitle}
      ul.articles__list
        -
            const articles = [
              {
                image: "news-1",
                alt: "Фото хлеба с крупными порами.",
                title: "Секреты идеального мякиша",
                text: "Как добиться крупных пор и хрустящей корочки в домашнем хлебе. Техники формовки и выпечки для профессионального результата.",
                link: "article.html"
              },
              {
                image: "news-2",
                alt: "Замес теста.",
                title: "Мастерство замеса теста",
                text: "Правильная техника замеса&nbsp;&mdash; основа вкусного хлеба. Узнайте как развить глютеновую сеть и&nbsp;почувствовать готовность теста.",
                link: "article.html"
              },
              {
                image: "news-3",
                alt: "Подовый хлеб с красивыми надрезами.",
                title: "Исскуство надрезов",
                text: "Надрезы на&nbsp;хлебе&nbsp;&mdash; это не&nbsp;только красота, но&nbsp;и&nbsp;функциональность. Изучите различные техники и&nbsp;узоры для вашей выпечки.",
                link: "article.html"
              },
              {
                image: "news-3",
                alt: "Подовый хлеб с красивыми надрезами.",
                title: "Исскуство надрезов",
                text: "Надрезы на&nbsp;хлебе&nbsp;&mdash; это не&nbsp;только красота, но&nbsp;и&nbsp;функциональность. Изучите различные техники и&nbsp;узоры для вашей выпечки.",
                link: "article.html"
              },
              {
                image: "news-3",
                alt: "Подовый хлеб с красивыми надрезами.",
                title: "Исскуство надрезов",
                text: "Надрезы на&nbsp;хлебе&nbsp;&mdash; это не&nbsp;только красота, но&nbsp;и&nbsp;функциональность. Изучите различные техники и&nbsp;узоры для вашей выпечки.",
                link: "article.html"
              }
            ]
        each article in articles
          li.articles__item
            +img("content", article.image, "webp", 360, 250, article.alt )
            h3.articles__item-title= article.title
            p.articles__item-text!= article.text
            a.articles__item-link(href=article.link) Читать далее

